//Colors
$white: #fff;
$black: #333333;
$green: #70c919;
$dark-sage: #406b55;
$jade-green: #27ad6c;
$brown: #423633;
$warm-grey: #9b9b9b;
$text-grey: #4a4a4a;
$line-green: #88c542;


//Message Colors
// $error: lighten($red,5%) !default;
// $success: $green !default;
// $edit: $yellow !default;

//Color Usage
// $primary-color: $white;
// $secondary-color: $black;
// $accent-color: $gray;
// $shadow-color: rgba($black, .2);
// $border-color: $gray;
// $color-text: $black;
// $color-link: $blue;