.card {

  @include e(container) {
    color: $white;
    font-family: $roboto;
    padding: 50px 30px 50px 30px;
    text-align: center;
  }

  @include e(header) {
    font-size: 23px;
    font-weight: bold;
  }

  @include e(body) {
    color: rgba($white, 0.7);
    font-size: 9px;
    padding: 10px 35px;
    line-height: 1.4;
  }

  @include e(footer) {
    margin-top: 10px;
  }

  @include e(button) {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @include mq(xs) {
    @include e(header) {
      font-size: 28px;
    }

    @include e(body) {
      font-size: 11px;
      padding: 13px 55px;
    }

    @include e(footer) {
      margin-top: 13px;
    }

  }

  @include mq(sm) {

    @include e(container) {
      padding: 70px 30px 65px 30px;
    }

    @include e(header) {
      font-size: 42px;
    }

    @include e(body) {
      font-size: 13px;
      padding: 18px 140px;
    }

    @include e(footer) {
      margin-top: 17px;
    }
  }

  @include mq(lg) {

    @include e(container) {
      padding: 175px 30px 120px 30px;
    }
    
    @include e(header) {
      font-size: 55px;
    }

    @include e(body) {
      font-size: 17px;
      padding: 20px 205px 15px 205px;
    }
  }

  @include mq(xl) {

    @include e(container) {
      padding: 230px 30px 150px 30px;
    }
    
    @include e(header) {
      font-size: 65px;
    }

    @include e(body) {
      padding: 20px 26em;
    }
  }

  @include mq(xxl) {

    @include e(header) {
      font-size: 80px;
    }

    @include e(body) {
      padding: 25px 39em;
    }
  }
}
