.footer {
  background-color: $black;
  color: $white;
  font-family: $roboto;
  display: flex;
  justify-content: space-between;
  padding: 12px 22px;
  font-size: 8px;

  @include e(link-group) {
    display: flex;
    justify-content: space-between;
  }

  @include e(link-item) {
    text-transform: uppercase;
    margin: 0px 5px;
    &:last-child {
      margin-right: 0px;
    }
  }

  @include e(link) {
    color: $white;
  }

  @include mq(md) {
    padding: 16px 40px;
    font-size: 9px;

    @include e(link-item) {
      margin: 0px 12px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  @include mq(xl) {
    padding: 20px 45px;
    font-size: 10px;
  }

  @include mq(xxl) {
    font-size: 13px;
  }
}